{% load relative_url %}

<ul class="pagination-list">
    {% if paged.has_previous %}
        <li>
            <a href="{% relative_url paged.previous_page_number 'page' urlencode %}"
               class="pagination-link">&laquo;</a>
        </li>
    {% else %}
        <li>
            <a class="pagination-previous"
               title="This is the first page" disabled>&laquo;</a>
        </li>
    {% endif %}

    {% if show_first %}
        <li><a class="pagination-link" href="{% relative_url 1 'page' urlencode %}">1</a></li>
        <span class="pagination-ellipsis">&hellip;</span>
    {% endif %}

    {% for linkpage in page_numbers %}
        {% ifequal linkpage page %}
            <li class="pagination-link is-current"><span>{{ page }} </span></li>
        {% else %}
            <li><a href="{% relative_url linkpage 'page' urlencode %}" class="pagination-link">{{ linkpage }}</a></li>
        {% endifequal %}
    {% endfor %}

    {% if show_last %}
        <span class="pagination-ellipsis">&hellip;</span>
        <li>
            <a class="pagination-link"
               href="{% relative_url paginator.num_page 'page' urlencode %}">
                {{ paginator.num_pages }}</a>
        </li>
    {% endif %}

    {% if has_next %}
        <li>
            <a href="{% relative_url paged.next_page_number 'page' urlencode %}"
               class="pagination-link">&raquo;</a>
        </li>
    {% else %}
        <li>
            <a class="pagination-next"
               title="This is the last page" disabled>&raquo;</a>
        </li>
    {% endif %}
</ul>