{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>emenu</title>
    <link rel="stylesheet" href={% static "bulma.css" %}>
    <link rel="stylesheet" href={% static "main.css" %}>
</head>
<body>
<div class="navbar is-light">
    <div class="navbar-item">
        <p class="title">
            eMenu
        </p>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a href="/report">Report a bug</a>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</section>
</body>
</html>