{% extends "_base.html" %}
{% block content %}
    <div class="content">
        <h1>{{ menu_card.name }}</h1>
        <p>{{ menu_card.description }}</p>
    </div>
    {% for dish in dishes %}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        {% if dish.image %}
                            <img src="{{ dish.image.url }}"
                                 alt="Image">
                        {% else %}
                            <img src="https://bulma.io/images/placeholders/128x128.png"
                                 alt="Image">
                        {% endif %}
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ dish.name }}</strong>
                            <small>Price:&nbsp;${{ dish.price }}</small>
                            <br>
                            {{ dish.description }}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
{% endblock content %}
