{% extends "_base.html" %}
{% block content %}
    <div class="content">
        <h1>Choose menu:</h1>
        <table class="table menuCardTable">
            <thead>
            <tr>
                <th>
                    {% if sort_by_name_asc %}
                        <a href="?sort=-name&page=1">Name</a>
                        <span>&darr;</span>
                    {% elif sort_by_name_desc %}
                        <a href="?sort=name&page=1">Name</a>
                        <span>&uarr;</span>
                    {% else %}
                        <a href="?sort=name&page=1">Name</a>
                    {% endif %}
                </th>

                <th>
                    {% if sort_by_num_dish_asc %}
                        <a href="?sort=-num_dish&page=1">Number of dish</a>
                        <span>&darr;</span>
                    {% elif sort_by_num_dish_desc %}
                        <a href="?sort=num_dish&page=1">Number of dish</a>
                        <span>&uarr;</span>
                    {% else %}
                        <a href="?sort=num_dish&page=1">Number of dish</a>
                    {% endif %}
                </th>

                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for card in menu_cards %}
                <tr>
                    <td><a href="/detail/{{ card.id }}/">{{ card.name }}</a></td>
                    <td>{{ card.num_dish }}</td>
                    <td>{{ card.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if menu_cards.has_other_pages %}{% load paginator %}{% paginator menu_cards urlencode 2 %}{% endif %}

{% endblock content %}
