{% extends "_base.html" %}
{% block content %}
    <div class="content">
        <h1>Report a bug</h1>

        <form action="send_report" method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="email">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" maxlength="100">
                </div>
            </div>

            <div class="field">
                <label class="label" for="message">Message</label>
                <div class="control">
                    <textarea class="textarea" name="message" maxlength="500" required></textarea>
                </div>
            </div>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6Ldk0EIUAAAAAMy-YwB3vx0bh5QuaTIFndUtRXnN"></div>

            <button class="button" type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}
