{% extends "_base.html" %}
{% block content %}
    <div class="content">
        <h1>Thank you for your feedback.</h1>
        <p>
            <a href="/">&rArr;&nbsp;Back to menu card list</a>
        </p>
    </div>
{% endblock content %}